<div class="container">
	<uib-tabset active="activeJustified" justified="true">
	    <uib-tab index="0" heading="New Notifications">
	    	<h3>New Notifications</h3>
	    	<div class="pull-right"> <a href="" ng-click="check()">Check all</a> </div>
	    	<hr>
			<div class="my-table">
				<table class="table table-hover">
			        <thead>
			          <tr>
			            <th >ID</th>
			            <th width="40%" >Content</th>
			            <th >Status</th>
			            <th >Type</th>
			            <th >Time</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr dir-paginate="notification in notifications | itemsPerPage: 10" pagination-id="newNotification">
			            <td  >{{notification.id}}</td>
			            <td >{{notification.content}}</td>
			            <td>{{notification.status ? 'Seen' : 'Not Seen'}}</td>
			            <td >{{
				            	notification.type == 1 ? 'Access' : 
				            	notification.type == 2 ? 'Login' : 
				            	notification.type == 3 ? ' Comment' : 
				            	'Like' 
			            	}}
			            </td>
			            <td >{{notification.created_at}}</td>
			          </tr>
			        </tbody>
			      </table>
			      <div class="text-center">
			      <dir-pagination-controls
			        max-size="4"
			        pagination-id="newNotification"
			        [direction-links=""]
			        [boundary-links=""]
			        [on-page-change=""]
			        [pagination-id=""]
			        [template-url=""]
			        [auto-hide=""]>
			      </dir-pagination-controls>
    			</div>
  			</div>
	    </uib-tab>
	    <uib-tab index="2" heading="Full Notifications" ng-click="getAllNotification()">
	    	<h3>Full Notifications</h3>
	    	<div class="pull-right"> <a href="" ng-click="clear()">Clear all</a></div>
	    	<hr>
			<div class="my-table">
				<table class="table table-hover">
			        <thead>
			          <tr>
			            <th >ID</th>
			            <th width="40%" >Content</th>
			            <th >Status</th>
			             <th >Type</th>
			            <th >Time</th>
			            </th>
			            <th> Action </th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr dir-paginate="notification in fullNotification | itemsPerPage: 10 | orderBy:order" pagination-id="fullNotification">
			            <td  >{{notification.id}}</td>
			            <td >{{notification.content}}</td>
			            <td>{{notification.status ? 'Seen' : 'Not Seen'}}</td>
			            <td >{{
				            	notification.type == 1 ? 'Access' : 
				            	notification.type == 2 ? 'Login' : 
				            	notification.type == 3 ? ' Comment' : 
				            	'Like' 
			            	}}
			            </td>
			            <td >{{notification.created_at}}</td>
			            <td ><a href="" ng-click="deleteNoti(notification.id)"> Delete </a></td>
			          </tr>
			        </tbody>
			      </table>
			      <div class="text-center">
			      <dir-pagination-controls
			        max-size="4"
			        pagination-id="fullNotification"
			        [direction-links=""]
			        [boundary-links=""]
			        [on-page-change=""]
			        [pagination-id=""]
			        [template-url=""]
			        [auto-hide=""]>
			      </dir-pagination-controls>
    			</div>
  			</div>
	    </uib-tab>
	    <uib-tab index="1" heading="Comments" ng-click="getComments()">
	    	<h3>Comments</h3>
	    	<hr>
	    		<div class="form-group col-md-12" ng-show="comment">
		    		<div class="col-md-10">
		    			<input type="text" class="form-control" ng-model="comment.content" name="" required >
		    		</div>
		    		<div class="col-md-1"><button type="button" class="btn btn-primary btn-block" ng-click="updateComment()" >Update</button></div>
		    		<div class="col-md-1"><button type="button" class="btn btn-primary btn-block" ng-click="close()" >Close</button></div>
	    		</div>
	    	<hr ng-show="comment">
			<div class="my-table">
				<table class="table table-hover">
			        <thead>
			          <tr>
			            <th >Name</th>
			            <th >Avatar</th>
			            <th width="30%">Content</th>
			            <th width="20%">News</th>
			            <th >Time</th>
			            <th >Action</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr dir-paginate="comment in comments | itemsPerPage: 10" pagination-id="comments">
			            <td  >{{comment.name}}</td>
			            <td >
			            	<img src="{{comment.avatar}}">
			            </td>
			            <td>{{comment.content}}</td>
			            <td>{{comment.news.name}}</td>
			            <td >{{comment.created_at}}</td>
			            <td ><a href="" ng-click="editComment(comment)"> Edit</a> -- <a href="" ng-click="deleteComment(comment.id)">Delete</a></td>

			          </tr>
			        </tbody>
			      </table>
			      <div class="text-center">
			      <dir-pagination-controls
			        max-size="4"
			        pagination-id="comments"
			        [direction-links=""]
			        [boundary-links=""]
			        [on-page-change=""]
			        [pagination-id=""]
			        [template-url=""]
			        [auto-hide=""]>
			      </dir-pagination-controls>
    			</div>
  			</div></uib-tab>
	  </uib-tabset>
</div>
