{{title}}
<div class="col-md-4 col-md-offset-4">
    <h2>Only me can login !  Don't taken, please !</h2>
    <form name="form"  role="form">
    <div  class="alert alert-danger" ng-show="isShowError">{{error}}</div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required autofocus />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" ng-click="login(user)" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>