<div class="container">
  	<h3>My posts</h3>
	<div class="text-right">
		<div class="col-md-8">
			
		</div>
		<div class="col-md-4">
			<div class="btn-group" uib-dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary btn-block" ng-click="openModal()" > New Post</button>
			</div> 
			
		</div>
	</div>
	<br />
	<br />
	<br />
	<div class="body">
		<div class="text-center caption">
				<p ng-show="!showUpdateCaption && caption" ng-bind-html="trustAsHtml((caption.caption))" style="display: inline; margin-right: 10px;"></p><a href="" ng-click="showInputCaption()" ng-show="!showUpdateCaption && caption" ><i class="fa fa-refresh" aria-hidden="true"></i></a>
				<!-- <p  ng-show="!showUpdateCaption && caption"></p> -->
				<div class="row" ng-show="showUpdateCaption">
					<form>
						<div class=" form-group col-md-10">
		                	<!-- <input type="" class="form-control"  ng-model="caption.caption" name=""> -->
		                	<textarea class="form-control" ng-model="caption.caption" rows="4"></textarea>
		              	</div>
		              	<div class="col-md-1">
							<button type="button" class="btn btn-primary btn-block" ng-click="updateCaption()">Update</button>
						</div>
		              	<div class="col-md-1">
							<button type="button" class="btn btn-primary btn-block" ng-click="reset()">Close</button>
						</div>
					</form>
	              	
	            </div>
		</div>
		<div ng-repeat="post in posts"  class="list-posts" ng-click="showInfor(post)">
			<img src="{{post.picture}}" width="19%">
			<div class="middle">
			    <a href="" ng-click="deletePost(post)" class="icon-picture"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
			 </div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<div class="text-center">
			<div class="row text-center">
                <div class=" form-group">
                    <button type="button" class="btn btn-primary btn-block" ng-click="getMore()">Get more item</button>
                </div>
            </div>
		</div>
	</div>
</div>