<div id="content" class="col-lg-9 col-md-8 col-sm-12 col-xs-12">			
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 post-width site-post"  ng-repeat="post in posts">
		<article class="tg-post">
			<figure>
				<img ng-src="{{post.url}}" alt="image description">
				<div class="tg-img-hover">
					<div class="holder">
						<a href=""><i class="fa fa-heart" aria-hidden="true" style="color: #f3eeee;" >&nbsp&nbsp{{post.likes ? post.likes : '1'}}&nbsp&nbsp</i></a>&nbsp&nbsp
						<a href=""><i class="fa fa-comment" aria-hidden="true" style="color:#f3eeee; margin-left: 20px;">&nbsp&nbsp{{post.comments}}&nbsp&nbsp</i></a>
					</div>
				</div>
			</figure>
			<div class="tg-post-content">
				<div  class="name-post">
					<h5><a href=""  ng-click="redirec(post)">{{post.name}}</a></h5>
				</div>
				
				<div class="post-meta">
					<span class="date">Sep, 17 2015</span>
				</div>
				<div class="description" style="height: 100px;">
					{{post.preview | limitTo:200}}
				</div>
				<a href="" ng-click="redirec(post)" class="tg-btn-countinuereading">countinue reading</a>
				<div class="tg-post-foot">
					<div class="post-meta pull-left">
						<span class="tg-post-author">Post By : <a href="">Ng Ký Lê</a></span>
					</div>
					<div class="post-meta pull-right">
						<span class="tg-post-author"><a href="">{{post.comments}} comments</a></span>
					</div>
				</div>
			</div>
		</article>
	</div>
	<hr />
	<div style=" clear:both;"></div>
	<div class=" col-md-12 row">
		<div class=" post-width site-post pull-left" ng-show="currentPage > 1">
			<span class="older-post"><a href="" ng-click="previus()">newer post</a></span>
		</div>
		<div class=" post-width site-post pull-right" ng-show="currentPage !=lastPage">
			<span class="older-post"><a href="" ng-click="loadMore()">older post</a></span>
		</div>
	</div>
</div>