 <div class="modal-content">
    <div class="modal-header">
        <h3 class="text-center">Multiupload</h3>
    </div>
    <div class="modal-body">
    <div>
    	<div ng-repeat="image in images" class="multiupload">
    		<!-- <img src="{{image.url}}" width="20%" height="20%">
    		<a href="" style="position: absolute; left: -50px; z-index: 10;">x</a>
    		<div>
    			<a href="" class="topright">X</a>
    		</div> -->
    		<img src="{{image.url}}" alt="Norway" width="20%" height="20%">
  			<div class="center"><a href="" style="color:#fff;" ng-click="delImage(image)">Delete</a></div>
    	</div>
    	
    </div>
    <div  ng-style="disableUpload">
	    <div style="text-align:center;" id="startUpload" ng-show="showBtns">
	        <button ng-click="dzMethods.processQueue();">Start Uploading</button>
	        <button ng-click="dzMethods.removeAllFiles();">Remove All Files</button>
	        <button ng-click="dzMethods.removeFile(lastFile);">Remove Last File</button>
	        <button ng-click="getDropzone();">Get getDropzone instance</button>
	        <button ng-click="getFiles();">Get total files</button>
	    </div>

	    <div 
		    id="dropzone2" 
		    class="dropzone" 
		    options="dzOptions" 
		    methods="dzMethods" 
		    callbacks="dzCallbacks" 
		    ng-dropzone
		    > </div>
		</div>
        <!-- <form name="myForm">
            <div class="row">
              <div class=" form-group col-md-12">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="category.name" name="" required>
              </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="">Parent Category</label>
                    <ui-select ng-model="category.has_parent"
                           theme="bootstrap"
                           title="Choose an address">
                        <ui-select-match placeholder="Enter an category...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="list in categories">{{list.name}}
                            <div ng-bind-html="trustAsHtml((list.name | highlight: $select.search))"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="sub">
                <div class="row">
                    <div class=" form-group col-md-12">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-primary btn-block" ng-click="save()" ng-disabled="myForm.$invalid || dis" >{{edit ? 'Edit' : ' Create'}} Category</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-primary btn-block" ng-click="close()" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
        </form> -->
    </div>
</div>